body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

button {
  display: block;
  margin: 15px auto;
  padding: 12px 20px;
  font-size: 16px
  cursor: pointer;
  background: #222;
  color: white;
  border: 1px solid #444;
  border-radius: 8px;
}

button:hover {
  background: #333;
}
